
 /*corps*/
 html { 
     font-size:62.5%;
 }

 body {
	  background-color:white;
	font-family:Century Gothic;
    text-align:justify;
    font-size:1.8rem;
	}
	

/*partie header*/
    #entete {
       position: absolute;
       left:1rem; 
       top:1rem;
       width:10%;
    }

    #menu-toogle {
        text-decoration: none;
    }

    #flash {
        background-color: red;
        color:white;
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
    }

    #background {   
        width:100%;
    }

	
	.sidebar {
		padding:0;
		background-color: white;
    }
    
    #recherche {
        padding:1%;
        font-size:2rem;	
        text-align:center;
        width:95%; 
        float: right;
        margin:0;

    }

    #recherche li {
        display:inline;
        margin : 1%;
    }
	
	#menu {
	display:inline-block;
	padding:1%;
	font-size:2rem;	
	text-align:center;
    width:98%;
    margin-top:0;
}

#menu li {
	display:inline-block;
    margin : 2rem;
}

#menu a {
    display: block;
    
}

li a {
    text-decoration:none;
    color: black;
}

/*sous-menus*/
#menu #smenu { 
    list-style-type: none; 
    display: none;
}

#smenu li {
    font-size: 1.5rem;
    padding: 0;
    margin-right: 0.5rem;
    text-align: center;
}


#search {
    font-size:2.5rem;
    border: none;
    border-bottom: 2px solid black;
    width : 40%;
    height: 4rem;
    text-align: left;
    font-family:Century Gothic;
    background-color: none;
    margin-left: 15rem; /*a voir si on enleve pas*/
    /*float: left;-*/
    
}


/*svg/icones*/

.svg_alone {
	width:4rem;
	height:4rem;
	margin : 1rem;
	border: 1px solid white;
	padding: 1rem;
	border-radius: 1rem;
    background-color: white;
}

.svg_header {
    width:4rem;
	height:4rem;
    margin-right : 3rem;
    margin-top: 1rem;
    padding: 0;
    float: right;  
}

.svg_header_search {
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin-top: 1rem;
}

/*declaration des composants grid*/

/*grid wrapper sur l'ensemble de la page*/

    /*header*/
	.sidebar {
        grid-area: sidebar;
    }

    /*image transition*/
    .back {
	    grid-area: back;
    }
    
    #flash {
        grid-area: flash;
    }
	
	/*footer*/
    .footer {
        grid-area: footer;
    }

	 /*grid contenu*/
    .wrapper_content {
        grid-area: wrapper_content;
    }	 

    .wrapper_mv {
        grid-area: wrapper_mv;
    }

/*positionnement des blocs sur la page*/
  .wrapper {
    position: absolute;
    left : 0;
    top : 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
     "sidebar"
     "flash"
     "back"
     "wrapper_content"
     "footer"
  }

  /*positionnement des blocs dans le footer*/
  .footer {
    display: grid;
	grid-template-columns: 30% 40% 30%;
    grid-template-areas:
	"contactUs   legality   followUs"
    "copyright   copyright   copyright" 
    "logo-blanc  logo-blanc  logo-blanc" 
  }

#bv1 {
    grid-area: bv1;
}

#bv2 {
    grid-area: bv2;
}

#bv3 {
    grid-area: bv3;
}

#bv4 {
    grid-area: bv4;
}

#bv5 {
    grid-area: bv5;
}

#bv6 {
    grid-area: bv6;
}

#bv7 {
    grid-area: bv7;
}

#bv8 {
    grid-area: bv8;
}

#title-mv {
    grid-area: title-mv;
    
}

  .wrapper_mv {
    text-align:center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-gap: 1rem;
  grid-template-areas:
  "title-mv  title-mv  title-mv  title-mv"
  "bv1  bv2  bv3  bv4"
  "bv5  bv6  bv7  bv8"
}

.wrapper_spe {
    grid-area: wrapper_spe;;
}

#title-spe {
    grid-area: title-spe;
    color: white;
    margin-top: 10rem;
    text-align: center;
}

#p-spe {
    grid-area: p-spe;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0;
}

#spe1 {
    grid-area: spe1;
    width: 100%;
    box-shadow: black;
}

.wrapper_spe {
    background-color: black ;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1rem;
  grid-template-areas:
  "spe1  title-spe"
  "spe1  p-spe"
}

#title-coeur {
    grid-area: title-coeur;
}

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

.wrapper_coeur {
    text-align:center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-gap: 1rem;
  grid-template-areas:
  "title-coeur  title-coeur  title-coeur  "
  "c1  c2  c3"
  "c4  c5  c6"
}

.wrapper_zoom {
    grid-area: wrapper_zoom;
    margin-top: 5rem;
    background-color: black;
    color: white;
}

#title-zoom {
    grid-area: title-zoom;
    text-align: center;
    font-size: 3rem;
}

#img-zoom {
    grid-area: img-zoom;
}

#p-zoom {
    grid-area: p-zoom;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    font-size: 1.4rem;
}


.wrapper_zoom {
    background-color: black ;
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1rem;
  grid-template-areas:
  "img-zoom  title-zoom  title-zoom"
  "img-zoom  p-zoom  p-zoom"
  "img-zoom  img-text  img-text"
}

.wrapper_blog {
    grid-area: wrapper_blog;
}

#img-blog1 {
    grid-area: img-blog1;
}

#img-blog2 {
    grid-area: img-blog2;
}

#img-blog3 {
    grid-area: img-blog3;
}

#title-blog {
    grid-area: title-blog;
}

#plus {
    grid-area: plus;
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    color:black;
}

.wrapper_blog {
    text-align:center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-gap: 1rem;
  grid-template-areas:
  "title-blog  title-blog  title-blog  "
  "img-blog1  img-blog2  img-blog3"
  "plus  plus plus"
}
/*
  .wrapper_content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
     "content_presentation img_presentation"
     "img1 content"
     "content2 img2"
     "img3 content3"
     "content_fin_presentation img_fin_presentation"
     "img_footer img_footer"
  }
*/


/* Caractéristiques css */

.footer {
    background-color: black ;
    color:white;
    width:100%;
    text-align: center;
    font-size: 2rem;
}

#logo-blanc {
    width: 10rem;
    margin-bottom: 1rem;
}

/*partie contact du footer*/
.contactUs {
	grid-area: contactUs;
	padding-bottom:3rem;
	margin-top: 2rem;
    text-align:center;
    
}

.contactUs a, .legality a {
	text-decoration: none;
	color: white;
    font-size: 1.2rem;	
}

/*partie mentions légales du footer*/
.legality {
	grid-area: legality;
    margin-top: 2rem;
    border-left: 1px solid white;
	border-right: 1px solid white;
}

/*parties reseaux sociaux du footer*/
.followUs {
	grid-area: followUs;
	margin-top: 2rem;
}

/*partie copyright du footer*/
.copyright {
	grid-area: copyright;
	background-color: black;
	font-size: 1rem;
    margin-top:2rem;
}

/*partie interactions dynamiques*/
#menu li:hover #smenu {
    display: block;
    position: absolute;
    font-weight: bold;

   /* background-color: white;*/
 }

#menu li a:hover {
    text-decoration: underline;
}


/*******************************************/

/*contenu*/
/*meilleures ventes*/
h1 {
    font-size: 4rem;
}

.best_vente {
    margin-top: 2rem;
    width: 75%;
    transition-duration: 0.5s;
}

.bv {
    margin-top: 5rem;
    border: 5px solid black;
    border-radius: 3rem;
    transition-duration: 0.5s;  
    text-decoration: none;
    color: white;
}

.prix_mv {
    font-weight: bold;
    font-size: 3rem;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    transition-duration: 0.5s;
}

.prix_mv:hover {
    color:red;
    transition-duration: 0.5s;
}

.best_vente:hover {
    transition-duration: 0.5s;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-10deg);
}

#bv3, #bv4, #bv7, #bv8 {
    transition-duration: 0.5s;
}

#bv3:hover, #bv4:hover, #bv7:hover, #bv8:hover {
    transition-duration: 0.5s;
    -webkit-transform: rotate(15deg);
    transform: rotate(10deg);
}


/*coups de coeur*/

.img-coeur {
    margin-top: 2rem;
    width: 90%;
    transition-duration: 0.5s;
}

.coeur {
    margin-top: 5rem;
    border: 5px solid black;
    border-radius: 3rem;
    transition-duration: 0.5s;  
    text-decoration: none;
    color: white;
    width: 30rem;
    margin-bottom: 10rem;
    height: 30rem;
}

.info_coeur {
    background-color: black;
    margin-top: 5rem;
    border: 5px solid black;
    border-radius: 3rem;
    transition-duration: 0.5s;  
    text-decoration: none;
    color: white;
    width: 30rem;
    font-size: 3rem;
    height: 30rem;
}

.front, .back {
        display: flex;
     justify-content: center;
     /*better font size*/
     font-size: 3em;
}

.back {
    -webkit-transform: rotateY(180deg);
}

.card {
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/
    transform-style: preserve-3d;
    transition-duration: 1s;
    }

.front {
    position: absolute;
    width: 100%;
    background-color: white;
}

.card {
	-webkit-transform-style: preserve-3d; /*sur chrome ca passe*/
}

.card:hover {
    -webkit-transform:rotateY(180deg);
    transition-duration: 1s;
   }

/*blog*/
.overlay {
    position: relative;
    width: 100%;
  }

.img-blog {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay:hover .img-blog {
    opacity: 0.3;
}
  
.overlay:hover .middle {
    opacity: 1;
}
  
.champ {
    background-color: black;
    border: 3px solid black;
    color: white;
    font-size: 16px;
    padding: 1rem 1rem;
    transition-duration: 0.5s;
    font-weight: bold;
}

.champ:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
    transition-duration: 0.5s;
}

div a {
    text-decoration: none;
}

#plus:hover {
    text-decoration: underline;
}

#burger {
    position: relative;
    left: -9999rem;
  }